.vscode/**
.idea/**
src/**
out-test/**
test-integration/**
node_modules/**
coverage/**
.gitignore
.eslintrc*
eslint.config.mjs
esbuild.mjs
vitest.config.ts
tsconfig.json
*.vsix
**/*.map
**/*.ts
!dist/*.js
!l10n/**
!package.nls*.json
